:root {
  --color-green: #31c48d;
  --color-white: #ffff;
  --color-dark-grey: #33333d;
  --color-medium-grey: #424250;
  --color-light-grey: #9ca3ae;
}

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  background: var(--color-medium-grey);
  color: var(--color-white);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.header {
  text-align: center;
}

.header__title {
  font-size: 3rem;
  font-weight: 900;
  color: var(--color-white);
  text-align: center;
}
.counter {
  background: var(--color-dark-grey);
}

.counter___button:disabled {
  opacity: 0.2;
  background: red;
}
.controls {
  text-align: center;
  background: var(--color-dark-grey);
}

.counter__value {
  width: 100%;
  height: 15rem;
  text-align: center;
  font-size: 10rem;
  font-weight: 900;
  background: none;
  color: var(--color-white);
  border-width: 0;
  border-bottom: 1px solid var(--color-light-grey);
}

.counter__actions {
  display: flex;
}

.counter__button {
  background: none;
  width: 50%;
  border-width: 0;
  color: rgb(0, 255, 0);
  font-size: 3rem;
  height: 10 rem;
  border-bottom: 1px solid var(--color-light-grey);
  transition: transform 0.1s;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}

.counter__button:active {
  background: rgb(9, 255, 0);
  transform: translateY(2%);
  -webkit-transform: translateY(2%);
  -moz-transform: translateY(2%);
  -ms-transform: translateY(2%);
  -o-transform: translateY(2%);
}

.counter__button_first {
  color: #ff0000;
  font-size: 4rem;
  border-right: 1px solid var(--color-light-grey);
}

.counter__button_first:active {
  background-color: #ff0000;
}

.footer {
  background: var(--color-dark-grey);
  color: var(--color-light-grey);
  padding: 2rem;
  font-size: 0.8rem;
  text-align: center;
}

.footer__link {
  color: var(--color-white);
}
